<div>
  <md-dialog aria-label="Mango (Fruit)">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Login</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="answer('not applicable')">
            <i class="fa fa-times"></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px; ">
        <!--<div>-->
          <!--<form name="userForm" method="post" action="j_spring_security_check">-->
            <!--<md-input-container>-->
              <!--<label>User name</label>-->
              <!--<input required="" name="userName" ng-model="user.name">-->
              <!--<div ng-messages="userForm.userName.$error">-->
                <!--<div ng-message="required">This is required.</div>-->
              <!--</div>-->
            <!--</md-input-container>-->

            <!--<md-input-container>-->
              <!--<label>Password</label>-->
              <!--<input required="" name="password" ng-model="user.password">-->
              <!--<div ng-messages="userForm.password.$error">-->
                <!--<div ng-message="required">This is required.</div>-->
              <!--</div>-->
            <!--</md-input-container>-->

            <!--<div class="htl-button htl-button-right">-->
              <!--<button type="submit" name="submit" class="md-raised md-primary" ng-disabled="!userForm.$valid" ng-click="clickButtonOkOnLogin(user)">Ok</button>-->
            <!--</div>-->
              <div class="alert alert-error" ng-class="{'': displayLoginError == true, 'none': displayLoginError == false}">
                Login fail {{displayLoginError}}
              </div>
              <form method="post" action="j_spring_security_check">
                <div class="input-group">
                  <input name="j_username" id="j_username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                  <input name="j_password" id="j_password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="htl-button-right">
                  <button type="submit" name="submit" class="btn btn-default">Ok</button>
                </div>
              </form>
          <!--</form>-->
        <!--</div>-->
      </md-dialog-content>
  </md-dialog>
</div>