.menu-side-left
  md-sidenav
    width: 200px
    min-width: 200px
    max-width: 200px

  ul
    padding 0

.htl-header .htl-toolbar
  background-color #106CC8
  .htl-name-app
    text-align left
  .htl-menu-right-on-toolbar
    text-align right
    .htl-button-option
      color white
    .htl-button-account
      color white
    .btn-group .dropdown-menu
      left auto
      right 0

.htl-menu-toolbar
  .htl-wrapper-menu-toolbar
    color white
    background-color #296293
    .htl-toolbar-menu-mini-screen
      height 40px
      position relative
      .htl-icon-menu-toolbar
        position absolute
        right 10px
        top 0
        margin 0
        padding 0

    .htl-list-menu
      display none
      ul
        margin 0 auto
        li
          display inline-block
          margin 0
          a
            display block
            padding 1.8rem 1rem 1.2rem 1rem
            height 5rem
            text-decoration none
            color white
          a:hover
            background-color #3498db
            outline none
        .tab-current
          a
            background #ecf3fa
            color #296293
          a:hover
            background #ecf3fa
            color #74777b




.accordion-menu .accordion-children .menuToggle-child-button
  display block
  text-align left
  padding-left 16px
  text-transform none

.accordion-menu .menuToggle-parent-button
  position relative
  display block
  text-align left

.accordion-menu .menuToggle-selected
  background-color #267ED5
//color white

.accordion-menu .menuToggle-parent-button .menuToggle-icon-expand
  position absolute
  right 4px
  top 12px

.htl-menu-right-on-toolbar
  font-size 14px

.md-grid.htl-bottomSheet
  padding-left 0
  padding-right 0

.htl-bottomSheet-add-vocabulary
  .htl-button-vocabulary
    text-align right
  .htl-title-add-vocabulary
    padding 16px
    font-size 16px
    background-color rgb(63,81,181)
    color white

@media (min-width: 300px)
  .htl-menu-toolbar
    .htl-wrapper-menu-toolbar
      .htl-list-menu
        display block
      .htl-toolbar-menu-mini-screen
        display none