.menu-side-left
  md-sidenav
    width: 200px
    min-width: 200px
    max-width: 200px

  ul
    padding 0

.accordion-menu .accordion-children .menuToggle-child-button
  display block
  text-align left
  padding-left 16px
  text-transform none

.accordion-menu .menuToggle-parent-button
  position relative
  display block
  text-align left

.accordion-menu .menuToggle-selected
  background-color #267ED5
//color white

.accordion-menu .menuToggle-parent-button .menuToggle-icon-expand
  position absolute
  right 4px
  top 12px