.htl-index-menu-main
  background-color black
  color white
  height 32px

.md-primary.md-raised.md-button.md-default-theme
  text-transform: none
.md-primary.md-button.md-default-theme
  text-transform: none