.htl-index-menu-main {
  background-color: #000;
  color: #fff;
  height: 32px;
}
.md-primary.md-raised.md-button.md-default-theme {
  text-transform: none;
}
.md-primary.md-button.md-default-theme {
  text-transform: none;
}
