<!doctype html>
<html ng-app="happyToStudyApp" ng-controller="MainController as mainCtrl">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->

  <link rel="stylesheet" href="reusable_components/menuToggle/styples/menuToggle.css">


  <link rel="stylesheet" href="scripts/english/effortEnglish/styles/effortEnglish.css">

  <link rel="stylesheet" href="scripts/common/styles/common.css">

  <link rel="stylesheet" href="scripts/main/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<!-- Add your site or application content here -->
<div id="wrapper">

  <header class="htl-header header-fixed">
    <section class="htl-index-menu-main">
      menu-Main
    </section>

    <section class="htl-toolbar">
      <div class="md-toolbar-tools htl-name-app">
        <h1>Happy To Study</h1>
      </div>
      <div class="htl-menu-right-on-toolbar">
        <md-button flex="50" class="md-primary htl-button-option" ng-click="mainCtrl.showGridBottomSheet($event)">Options
        </md-button>

        <!-- Single button with keyboard nav -->
        <div class="btn-group" dropdown keyboard-nav>
          <md-button flex="50" class="md-primary htl-button-account" ng-click="" dropdown-toggle>
            Your Account
            <span class="caret"></span>
          </md-button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem"><a href="#">Action</a></li>
            <li role="menuitem"><a href="#">Another action</a></li>
            <li role="menuitem"><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="htl-tabs">
      <tabset>
        <tab ng-repeat="tab in mainCtrl.groupMenus" heading="{{tab.name}}" select="mainCtrl.chooseTab(tab)">
          <tabset>
            <tab ng-repeat="tabChild in tab.children" heading="{{tabChild.name}}" select="mainCtrl.chooseTab(tabChild)"
                 active="false">
            </tab>
          </tabset>
        </tab>
      </tabset>
      <br/>
    </section>
  </header>

  <section role="main" class="container main-body">
    <!--<div class="menu-side-left" layout="row" flex>-->
      <!--<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"-->
                  <!--md-is-locked-open="$mdMedia('gt-sm')">-->

        <!--<accordion class="accordion-menu">-->
          <!--<accordion-group is-open="group.showChildren" ng-repeat="group in mainCtrl.groupMenus">-->
            <!--<accordion-heading>-->
              <!--<md-button ng-click="mainCtrl.setUrl(group.link)" class="menuToggle-parent-button" ng-href="">-->
                <!--&lt;!&ndash;ng-class="{'menuToggle-selected' : mainCtrl.selected === menu.id}"&ndash;&gt;-->
                <!--<div>-->
                  <!--<span>{{group.name}}</span>-->
                  <!--<i class="menuToggle-icon-expand pull-right glyphicon"-->
                     <!--ng-class="{'glyphicon-chevron-down': group.showChildren, 'glyphicon-chevron-right': !group.showChildren}">-->
                  <!--</i>-->
                <!--</div>-->
              <!--</md-button>-->
            <!--</accordion-heading>-->
            <!--<div ng-repeat="child in group.children" class="accordion-children">-->
              <!--<md-button ng-href="{{child.link}}" class="menuToggle-child-button"-->
                         <!--ng-click="menuToggleCtrl.clickChildrenButton(child)">-->
                <!--&lt;!&ndash;ng-class="{'menuToggle-selected' : menuToggleCtrl.selected === child.id}"&ndash;&gt;-->
                <!--<span class="menuToggle-child-name">{{child.name}}</span>-->
              <!--</md-button>-->
            <!--</div>-->
          <!--</accordion-group>-->
        <!--</accordion>-->

        <!--<menu-toggle menu-toggle-options="mainCtrl.menuToggleOptions"></menu-toggle>-->

      <!--</md-sidenav>-->
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <div class="htl-container">
            <div ng-view=""></div>
          </div>
        </md-content>
      </div>
    <!--</div>-->
  </section>

  <!--<img src="images/48.jpg" alt="Mountain View" style="width:304px;height:228px;">-->

  <footer class="footer">
    <div class="container">
      <p>Hello world</p>
    </div>
  </footer>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>


<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<script src="reusable_components/htl.com.reusableComponents.js"></script>
<script src="reusable_components/menuToggle/menuToggle.directive.js"></script>

<!--demo get audio-->
<script src="scripts/_demo/getAudio/getAudio.config.js"></script>
<script src="scripts/_demo/getAudio/services/getAudio.service.js"></script>
<script src="scripts/_demo/getAudio/controllers/getAudio.controller.js"></script>

<!--demo uiBootstrap-->
<script src="scripts/_demo/UIBootstrap/uibootstrap.config.js"></script>
<script src="scripts/_demo/UIBootstrap/controllers/UIBootstrapController.js"></script>
<script src="scripts/_demo/UIBootstrap/controllers/UIBootstrapRouterController.js"></script>

<script src="scripts/_demo/UIBootstrap/Alert/alert.directive.js"></script>

<!--main-->
<script src="scripts/main/controllers/main.controller.js"></script>
<script src="scripts/main/services/main.service.js"></script>
<script src="scripts/main/controllers/gridBottomSheet.controller.js"></script>

<!--english-->
<script src="scripts/english/english.config.js"></script>
<script src="scripts/english/englishRouter.controller.js"></script>
<script src="scripts/english/english/directives/english.controller.js"></script>
<script src="scripts/english/english/directives/english.directive.js"></script>

<script src="scripts/english/effortEnglish/directives/effortEnglish.controller.js"></script>
<script src="scripts/english/effortEnglish/directives/effortEnglish.directive.js"></script>
<script src="scripts/english/effortEnglish/services/effortEnglish.service.js"></script>

<script src="scripts/entertainment/entertainment/controllers/entertainment.controller.js"></script>

<!-- endbuild -->
</body>
</html>
